<div class="curations-document js-curations-document">

  <div class="curations-document__handle js-curations-document-handle">

    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>

  </div>

  <div>{{ value }}</div>

</div>
